!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Ruby Golf
    %meta{:content => "Ruby Golf Dashboard", :name => "description"}/
    %meta{:content => "James Almond", :name => "author"}/
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
    %link{:href => "/css/bootstrap.css", :rel => "stylesheet"}/
    %link{:href => "/css/application.css", :rel => "stylesheet"}/
    %script{:src => "http://js.pusher.com/1.11/pusher.min.js", :type => "text/javascript"}
    %script{:src => "/js/application.js", :type => "text/javascript"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", :type => "text/javascript"}
    :javascript
      var pusher = new Pusher('#{ENV['PUSHER_APP_ID']}');
      var channel = pusher.subscribe('golf');

      var players = {};

      channel.bind('spec_run', function(data) {
        players[data.my_name] = data;
        render_players(players);
      });

  %body
    .navbar
      .navbar-inner
        .container
          %a.brand{:href => "/"}
            Ruby Golf
    .container
      %table.table.table-striped.table-bordered#golf
        %thead
          %tr
            %th Name
            %th Passing
            %th Failing
            %th Character Count
        %tbody
